<!doctype html>

<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Chivo|Nosifer&display=swap" rel="stylesheet">
    <script src="script.js"></script>
    <title>7.A-Collection Array</title>
  </head>

  <body>
      <h1>Necessary Hot Sauces Collection</h1>
      <div id="app"> 
        <table>
          <thead>
            <th>Name</th>
            <th>Variation</th>
            <th>Heat Rating</th>
            <th>Bottle Size</th>
            <th>Company Location</th>
            <th>Manufacturer</th>
          </thead>
          <tbody>
            <tr 
              v-for="(sauces, index) in sauceList" 
              v-bind:class="{even: (index + 1) % 2 === 0, odd: (index + 1) % 2 !==0
            }">
                <td>{{sauces.name}}</td>
                <td>{{sauces.variation}}</td>
                <td>{{sauces.heat}}</td>
                <td>{{sauces.bottle}}</td>
                <td>{{sauces.location}}</td>
                <td>{{sauces.manufacturer}}</td>
                <td><button type="button" v-on:click="deleteItem(sauces)">Delete</button></td>
            </tr>
          </tbody>
        </table>
        <form class="new-sauce-form" v-on:submit.prevent="submitHandler">
          <fieldset>
            <legend>
              Add a Hot Sauce to the Collection!
            </legend>
            <div>
              <label for="name">Name
                <input id="name"type="text" v-model="newSauceObj.name">
              </label>
            </div>
            <div>
              <label for="variation">Variation</label>
                <input id="variation"type="text" v-model="newSauceObj.variation">
              </label>
            </div>
            <div>
              <label for="heat">Heat</label>
                <input id="heat"type="text" v-model="newSauceObj.heat">
              </label>
            </div>
            <div>
              <label for="bottle">Bottle Size</label>
                <input id="bottle"type="text" v-model="newSauceObj.bottle">
              </label>
            </div>
            <div>
              <label for="location">Company Location</label>
                <input id="location"type="text" v-model="newSauceObj.location">
              </label>
            </div>
            <div>
              <label for="manufacturer">Manufacturer</label>
                <input id="manufacturer"type="text" v-model="newSauceObj.manufacturer">
              </label>
            </div>
            <button type="submit">Submit</button>
          </fieldset>
        </form>
      </div>
      
    <script src="vue.js"></script>
  <script src="script.js"></script>
  </body>
</html>
