[v-cloak]{
    display: none;
}
.even {
    background: rgb(245, 221, 0);
}
.odd {
    background: rgb(243, 126, 80);
}
h1 {
    font-family: 'Nosifer', cursive;
    padding: 20px;
    font-size: 300%;
    color: red;
    background: black;
    text-align: center;
}
html {
    background: rgb(245, 221, 0);
}
ul {
    font-family: 'Chivo', sans-serif;
    padding: 10px 10px;
    color: white;
    font-size: auto;
    max-width: auto;
    text-align: center;
    flex-grow: 1;
    list-style: none;
    display: flex;
    justify-content: center;
}
.listHeader {
    background: black;
    font-size: 120%;
    flex-grow: 1;
}
li {
    
    font-family: 'Chivo', sans-serif;
    padding: 10px 10px;
    font-size: 80%;
    text-align: center;
    flex-grow: 1;
    max-width: 16.6%;
}
.new-sauce-form{
    padding: 20px 20px;
    text-align: center;
    margin-left: 25%; 
    margin-right: 25%;
    margin-bottom: 20px;

}
.new-sauce-form fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Chivo', sans-serif;
    font-size: 90%;
    
}
.new-sauce-form div label {
    max-width: 110px;
    font-family: 'Chivo', sans-serif;
    font-size: 80%;
    display: flex;

}
.new-sauce-form div input {
    margin: 5px;
    font-family: 'Chivo', sans-serif;
    font-size: 80%;

}